* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem;
}
.display {
    margin-bottom: 800% ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
